.container-fluid button{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15%;
}

body{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: #00388b;
    color: white;
    
}

footer.dark-mode {
    background-color: white;
    color: white;
}

.postList {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  
  div {
    margin: 10px;
    padding: 10px;
  }

  footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
  }

  hr {
    margin: 10px;
    padding: 10px;
  }
