.container-fluid button{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15%;
}

body{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: #54237c;
    color: white;
}

