.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background: url(./stacked-steps-haikei.svg) no-repeat center center/cover
    border-box;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  order: 1;
}

form {
  font-size: 25px;
}

.dark-mode{
  background-color: #00388b;
  color: white;
}

button{
  margin: 10px 10px;
  padding: 10px;
  border-radius: 15%;
}

#submit{
  background-color: white;
  color: #FF0E95;
  border: 2px solid #FF0E95;
  border-radius: 15%;
}